:root {
  --color-white: #F2F2F2;
  --color-gray-light: #A6A6A6;
  --color-gray-medium: #595959;
  --color-gray-dark: #262626;
  --color-black: #0D0D0D;
}

button, input[type=submit] {
  background-color: var(--color-black);
}

a {
  color: var(--color-black)
}

input:focus {
  border-color: var(--color-black) !important;
}

main {
  max-width: 50%;
  margin: 0 auto;
}

nav {
  display: flex;
  place-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-gray-dark);
}
