{% extends "base.html" %}
{% block page_title %}Login{% endblock %}
{% block content %}

<article>
  <header>
    <h1>No Frontend App</h1>
  </header>

  <section>
    <form method="post" action="{% url 'login' %}" up-submit>
      {% if form.errors %}
      <div class="card text-error">
        <p>Your username and password didn't match. Please try again!</p>
      </div>
      {% endif %}
      {% csrf_token %}
      <div>
          <label for="id_username">Email address:</label>
          <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="254" required="" id="id_username">
      </div>
      <div>
        <label for="id_password">Password:</label>
        <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
      </div>
      <hr>
      <div>
        <input type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
        {# Assumes you setup the password_reset view in your URLconf #}
        <div><a href="{% url 'password_reset' %}">Lost password?</a></div>
      </div>
    </form>
  </section>
</article>

{% endblock %}
